# Final Assessment

Laura Dahm (i6235448)

## 1. Introduction

Research question: 

How high was the mortality associated with covid-19 in Germany compared to other European countries in January 2022?

## 2. Data preparation

In [101]:
import pandas as pd
import altair as alt
import ipywidgets as widgets

In [102]:
covid = pd.read_csv('https://covid.ourworldindata.org/data/owid-covid-data.csv')

In [103]:
relevant_columns = ['continent', 'location', 'date', 'new_cases_smoothed_per_million', 'new_deaths_smoothed_per_million']
covid_germany = covid.loc[covid.location == 'Germany', relevant_columns]
covid_germany.loc[covid.date.str.contains('2022-01-')]

      continent  ... new_deaths_smoothed_per_million
55582    Europe  ...                           3.048
55583    Europe  ...                           2.937
55584    Europe  ...                           3.021
55585    Europe  ...                           3.295
55586    Europe  ...                           3.007
55587    Europe  ...                           2.907
55588    Europe  ...                           3.055
55589    Europe  ...                           3.107
55590    Europe  ...                           3.187
55591    Europe  ...                           2.627
55592    Europe  ...                           3.082
55593    Europe  ...                           2.866
55594    Europe  ...                           2.907
55595    Europe  ...                           2.845
55596    Europe  ...                           2.801
55597    Europe  ...                           2.760
55598    Europe  ...                           2.927
55599    Europe  ...                           2.292
55600    Europe  ...                           2.154
55601    Europe  ...                           1.953
55602    Europe  ...                           1.859
55603    Europe  ...                           1.864
55604    Europe  ...                           1.868
55605    Europe  ...                           1.909
55606    Europe  ...                           1.781
55607    Europe  ...                           1.698
55608    Europe  ...                           1.699
55609    Europe  ...                           1.706
55610    Europe  ...                           1.716
55611    Europe  ...                           1.769
55612    Europe  ...                           1.723

[31 rows x 5 columns]

In [104]:
relevant_columns = ['continent', 'location', 'date', 'new_cases_smoothed_per_million', 'new_deaths_smoothed_per_million']
covid_europe = covid.loc[covid.continent == 'Europe', relevant_columns]
covid_europe.loc[covid.date.str.contains('2022-01-')]

       continent  ... new_deaths_smoothed_per_million
2103      Europe  ...                           1.392
2104      Europe  ...                           1.293
2105      Europe  ...                           1.293
2106      Europe  ...                           0.845
2107      Europe  ...                           0.597
...          ...  ...                             ...
153955    Europe  ...                             NaN
153956    Europe  ...                             NaN
153957    Europe  ...                             NaN
153958    Europe  ...                             NaN
153959    Europe  ...                             NaN

[1570 rows x 5 columns]

## 3. Exploring and cleaning data

## 4. Descriptives and visualizations

## 5. Conclusion